body{
	background-image: url('stars.gif');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: auto;
	margin: 0;
	padding: 0;
}

.shiny{
	animation-name:shinyanimation;
	animation-duration:1s;
	animation-iteration-count: infinite;
}

@keyframes shinyanimation{
	0%{color:rgb(255, 255, 255, 1.0);}
	15%{color:rgb(255, 0, 0, 1.0);}
	30%{color:rgb(255, 255, 0, 1.0);}
	45%{color:rgb(0, 255, 0, 1.0);}
	60%{color:rgb(0, 255, 255, 1.0);}
	75%{color:rgb(0, 0, 255, 1.0);}
	100%{color:rgb(255, 255, 255, 1.0);}
}

.wiggle i {
    display: inline-block;
    transform-origin: top;
    animation: jitter 0.3s infinite;
}

@keyframes jitter {
    0% {
        transform: translateX(11px) rotate(20deg);
    }
    25% {
        transform: translateX(-11px) rotate(-20deg);
    }
    50% {
        transform: translateX(11px) rotate(20deg);
    }
    75% {
        transform: translateX(-11px) rotate(-20deg);
    }
    100% {
        transform: translateX(11px) rotate(20deg);
    }
}

@keyframes largen{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.5);
        text-shadow: 8px 12px black, -8px -12px black;
    }
    100%{
        transform: scale(1);
        text-shadot: none;
    }
}

@keyframes shrinken{
	0%{
		transform: scale(1);
	}
	80%{
		transform: scale(1);
	}
	85%{
		transform: scale(0.7);
	}
	90%{
		transform: scale(1);
	}
	95%{
		transform: scale(0.7);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes woah{
    0%{
        text-shadow: 0px 0px rgba(0, 0, 0, 1), 0px 0px rgba(0, 0, 0, 1);
    }
    50%{
        text-shadow: 0px 0px rgba(0, 0, 0, 1), 0px 0px rgba(0, 0, 0, 1);
    }
    75%{
        text-shadow: 8px 12px rgba(0, 0, 0, 0.5), -8px -12px rgba(0, 0, 0, 0.5);
    }
    100%{
        text-shadow: -19px -8px rgba(0, 0, 0, 0), 19px 8px rgba(0, 0, 0, 0);
    }
}

.woah {
    animation: woah 4s infinite;
    color: rgba
}

@keyframes drunk{
    0%{
        text-shadow: 0px 0px rgba(0, 0, 0, 1), 0px 0px rgba(0, 0, 0, 1);
    }
    25%{
        text-shadow: 0px 0px rgba(0, 0, 0, 1), 0px 0px rgba(0, 0, 0, 1);
    }
    75%{
        text-shadow: 3px 0px rgba(0, 0, 0, 0.5), -3px 0px rgba(0, 0, 0, 0.5);
    }
    100%{
        text-shadow: 0px 0px rgba(0, 0, 0, 1), 0px 0px rgba(0, 0, 0, 1);
    }
}

.drunk {
    animation: drunk 3s infinite ease-out;
    color: rgba(0, 0, 0, 0)
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.blink {
    animation: blink 0.2s infinite;
}

@keyframes weird {
    0%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(10deg);
        transform: translateX();
    }
    12.5%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(10deg);
    }

    37.5%{
        transform: scaleY(0.65); transform-origin: bottom;
    }
    50%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(-10deg);
    }
    62.5%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(-10deg);
    }

    87.5%{
        transform: scaleY(0.65); transform-origin: bottom;
    }
    100%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(10deg);
    }
}  

.weird{
    animation: weird 1s infinite;

    width: 140px;
    height: 140px;
}

@keyframes weirdr {
    0%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(-10deg);
        transform: translateX();
    }
    12.5%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(-10deg);
    }

    37.5%{
        transform: scaleY(0.65); transform-origin: bottom;
    }
    50%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(10deg);
    }
    62.5%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(10deg);
    }

    87.5%{
        transform: scaleY(0.65); transform-origin: bottom;
    }
    100%{
        transform: scaleY(1); transform-origin: bottom;
        transform: rotate(-10deg);
    }
}  

@keyframes flippy{
	0%{
		transform: scaleX(1);
	}
	50%{
		transform: scaleX(-1);
	}
	100%{
		transform: scaleX(1);
	}
}

.weirdr{
    animation: weirdr 1s infinite;

    width: 140px;
    height: 140px;
}

body .antimice {
	max-width: 100%;
	max-height: 100%;
	width: 500px;
	height: auto;
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body .antimice2 {
	max-width: 100%;
	max-height: 100%;
	width: 500px;
	height: auto;
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
	animation: shrinken 2s infinite;
}

body .antimice3 {
	max-width: 100%;
	max-height: 100%;
	width: 500px;
	height: auto;
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
	animation: flippy 30s infinite;
}

.middle{
    font-size: xx-large;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.7);
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}
